.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
}

.box {
  border-width: 2px;
  border-color: #e9e9e9;
  border-style: solid;
  width: 25%;
  margin: 10px 20px;
  border-radius: 7px;
}

img {
  width: 100%;
}

.box-text {
  padding: 15px;
}

.nome-completo {
  display: inline;
  font-size: 23px;
  color: #33363e;
  width: 100%;
}

.user-infos {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  color: #33363e;
  width: 100%;
}

#website {
  padding: 15px 0;
  width: 100%;
}

a {
  font-size: 17px;
  text-decoration: none;
  color: #00275b;
  font-weight: bold;
}
